<h1>Log in</h1>

<%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>
  <div class="">
    <%= f.label :email, "メールアドレス"%>
    <%= f.email_field :email%>
  </div>
  <div class="">
    <%= f.label :password, "パスワード"%>
    <%= f.password_field :password%>
  </div>
  <div class="">
    <%= f.submit "ログイン" %>
  </div>
<%end%>