<%= form_with(model: feed, local: :ture, url:new_or_edit) do |f|%>

<% if @feed.errors.any? %>
  <div class="">
    <% @feed.errors.full_messages.each do |message| %>
      <p><%=message%></p>
    <%end%>
  </div>
<%end%>

<div class="">
  <%=f.label :content%>
  <%=f.text_area :content, size: '50x10'%>
</div>

<div class="">
  <%=f.label :image%>
  <%=image_tag(@feed.image.url) if @feed.image && @feed.image.url%>
  <%=f.file_field :image%>
  <%=f.hidden_field :image_cache%>
</div>

<div class="">
  <%=f.hidden_field :user_id, value: current_user.id %>
</div>

<div class="">
  <%= f.submit button_text%>
</div>

<%end%>

<%= link_to "戻る", feeds_path%>
