<%= form_with(model: feed, local: :ture, url:new_or_edit) do |f|%>
<div class="">
  <%=f.label :title%>
  <%=f.text_field :title%>
</div>

<div class="">
  <%=f.label :content%>
  <%=f.text_area :content, size: '50x10'%>
</div>

<div class="">
  <%=f.label :image%>
  <%=f.text_field :image%>
</div>

<%# TAKE OUT LATER %>
<div class="">
  <%=f.text_field :user_id, value:"1"%>
</div>

<div class="">
  <%= f.submit%>
</div>

<%end%>