<%= form_with(model: feed, local: :ture, url:new_or_edit) do |f|%>

<%= render 'shared/feed_error'%>

<div class="card">
  <div class="form-group text-center">
    <div class="wrapper">
    <%if @feed.image.url.nil?%>
        <%= image_tag "sample_image.jpg", class:"sample-image"%>
        <p class="centered-text"><strong>Widen Your Social Universe<br></strong>for new ideas and perspectives</p>
    <%end%>
    </div>

    <div class="wrapper-sub card-body">
      <div>
        <% if @feed.image && @feed.image.url%>
          <%=image_tag(@feed.image.url)%>
        <%end%>
        <%# <%=image_tag(@feed.image.url) if @feed.image && @feed.image.url%>
        <%=f.file_field :image,class:"carrierwave-field-feed text-center"%>
        <%=f.hidden_field :image_cache%>
      </div>
    </div>

    <div class="card-body">
      <%=f.label :content, class:"sr-only"%>
      <%=f.text_area :content, autofocus: true, class:"form-control", placeholder: "今日の気分は何でしょう ♪"%>
    </div>

    <div>
      <%=f.hidden_field :user_id, value: current_user.id %>
    </div>

    <div class="mb-4">
      <%= f.submit button_text, class: "btn btn-secondary mt-4 mr-2"%>
      <%= link_to "戻る", feeds_path, class: "btn btn-light mt-4 ml-2"%>
    </div>
      <%end%>
  </div>
</div>

