<div class="">ニュースフィード</div>

<div class="">
  <%= link_to '投稿を作成', new_feed_path %>
</div>

<div class="">
  <% @feeds.each do |feed| %>
    <div class="">
      <p><%= avatar(feed.user) %></p>
      <p><%=feed.user.name%></p>
      <p><%= distance_of_time_in_words(feed.created_at, Time.now)%>前</p>
    </div>
    <div class="">
      <p><%= feed.content %></p>
      <p><%= image_tag feed.image.url if feed.image.url %></p>  
    </div>
    <div class="">
      <%= link_to '詳細', feed_path(feed) %>
    </div>
    <% if current_user.id == feed.user_id %>
      <div class=""> 
        <%= link_to '投稿を編集', edit_feed_path(feed) %>
        <%= link_to '削除', feed_path(feed),method: :delete, data: {confirm: "投稿を削除しますか？"} %>
      </div>
    <%end%> 
  <%end%>
</div>