<h4 class="h4 my-4 text-center">ニュースフィード</h4>
  <% @feeds.each do |feed| %>
    <div class="container mt-4">
      <div class="card">
        <div class="card-header">
          <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex justify-content-between align-items-center">
                <div class="mr-2">
                  <%= avatar(feed.user, "rounded-circle") %>
                </div>
                <div class="ml-2 h5">
                  <%=feed.user.name%>
                </div>
            </div>
            <% if current_user.id == feed.user_id %>
              <div class="dropdown">
                <button class="btn btn-link dropdown-toggle" type="button" id="gedf-drop1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-ellipsis-h"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                  <%= link_to '投稿を編集', edit_feed_path(feed), class: "dropdown-item" %>
                  <%= link_to '削除', feed_path(feed), method: :delete, data: {confirm: "投稿を削除しますか？"}, class: "dropdown-item" %>
                </div>
              </div>
            <%end%>
          </div>
        </div>
        <div class="card-body">
          <div class="text-muted h7 mb-2">
            <%= distance_of_time_in_words(feed.created_at, Time.now)%>前
          </div>
          <div class="card-image">
            <%= image_tag feed.image.url if feed.image.url %>
          </div>
          <div class="card-text">
            <%= feed.content %>
          </div>
        </div>
        <div class="card-footer">
          <%= link_to '詳細', feed_path(feed), class: "card-link" %>
        </div>
      </div>
    </div>
  <%end%>
<div class="mb-5"></div>
