<div class="">
  <p><%=avatar(@feed.user)%></p>
  <p><%=@feed.user.name%></p>
  <p><%= distance_of_time_in_words(@feed.created_at, Time.now)%>前</p>
</div>
<div class="">
  <%= @feed.content %>
  <%= image_tag @feed.image.url if @feed.image.url %>
</div>
<div class="">
  <%= link_to '戻る', feeds_path %>
  <% if current_user.id == @feed.user_id %>
    <%= link_to '投稿を編集', edit_feed_path(@feed) %>
    <%= link_to '削除', feed_path(@feed),method: :delete, data: {confirm: "投稿を削除しますか？"} %>
  <%end%>
</div>

<% unless @feed.comments.count.zero? %>
  <p>
    コメント<%= @feed.comments.count%>件
  </p>
  <p>
    <%= render @feed.comments %>
  </p>
<% end %>

<p>
  <%= render partial: 'comments/comment_form', comment: @comment, feed: @feed %>
</p>