<div class="card mt-4">
  <div class="card-body">
    <div class="row">
      <div class="col-3 col-md-2 col-lg-1 px-0">
        <div class="text-center">
          <%=avatar(current_user, "rounded-circle")%>
        </div>
      </div>
      <div class="col-6 col-md-8 col-lg-10 px-0 align-self-center">
        <%= form_with(model: @comment, local: true, url: feed_comments_path(@feed.id)) do |f| %>
          <%= f.text_field :content,class:"form-control"%>
          <%= f.hidden_field :feed_id, value: @feed.id %>
          <%= f.hidden_field :user_id, value: current_user.id %>
      </div>
      <div class="col-3 col-md-2 col-lg-1 px-1 mt-3">
        <%= f.submit "コメント", class:"btn btn-outline-primary btn-sm" %>
        <%end%>
      </div>
    </div>
  </div>
</div>