<div class= "card mt-4">
  <div class="row">
      <div class="col-2 mt-3 ml-3">
        <%=avatar(current_user, "rounded-circle")%>
      </div>
      <div class="col-6 mt-4 pt-1">
      <%= form_with(model: @comment, local: true, url: feed_comments_path(@feed.id)) do |f| %>
        <%= f.text_field :content,class:"form-control"%>
        <%= f.hidden_field :feed_id, value: @feed.id %>
        <%= f.hidden_field :user_id, value: current_user.id %>
      </div>
      <div class="col-3 mt-4 pt-1">        
        <%= f.submit "コメントする", class:"btn btn-outline-primary" %>
      </div>
      <% end %>
    </div>
  <div>
</div>

