<div class="card comment-card">
  <div class="card-body">
    <div class="row">
      <div class="col-3 col-md-2 col-lg-1 px-0">
        <div class="text-center">
          <%=avatar(comment.user, "rounded-circle")%>
        </div>
        <div class="h6 mb-0 mt-2 text-center">
            <%=comment.user.name%>
        </div>
        <div class="text-muted h7 text-center">
          <%= distance_of_time_in_words(comment.created_at, Time.now)%>前
        </div>
      </div>
      <div class="col-6 col-md-8 col-lg-10 px-0">
        <div class="align-self-start text-break">
          <%= comment.content %>
        </div>
      </div>
      <div class="col-3 col-md-2 col-lg-1 text-right px-1">
        <% if current_user.id == comment.user_id %>
        <%= link_to '削除', [comment.feed, comment],
        method: :delete, data: { confirm: 'コメントを削除しますか？' }, class:"btn btn-light btn-sm" %>
        <%end%>
      </div>
    </div>
  </div>
</div>