<div class= "card comment-card pb-3">
  <div class="row">
    <div class="col-1 my-3 mx-3">
      <%= avatar(comment.user, "rounded-circle") %>
    </div>
    <div class="col-7 ml-3 mt-3">
      <%= comment.user.name %>
      <div class="text-muted h7">
        <%= distance_of_time_in_words(comment.created_at, Time.now)%>前
      </div>
      <div class="mt-2 text-break">
        <%= comment.content %>
      </div>
    </div>
    <div class="col-1 mt-3">
      <% if current_user.id == comment.user_id %>
        <%= link_to 'Delete', [comment.feed, comment],
            method: :delete, data: { confirm: 'コメントを削除しますか？' }, class:"btn btn-light" %>
      <%end%>
    </div>
  </div>
</div>