<h1>アカウント更新</h1>

<%= form_with(model:@user, local: true) do |f| %>
<div>
  <%= f.label :name, "名前"%>
  <%= f.text_field :name%>
</div>
<div>
  <%= f.label :email, "メールアドレス"%>
  <%= f.text_field :email%>
</div>
<div>
  <%= f.label :avatar, "プロフィール写真"%>
  <%= image_tag(@user.avatar.url) if @user.avatar && @user.avatar.url%>
  <%= f.file_field :avatar%>
  <%= f.hidden_field :avatar_cache%>
</div>

<%= f.submit "保存"%>
<%end%>
