<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Octolink</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |key, value| %>
    <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>

    <% if logged_in? %>
      <div class="">
        <%= link_to "投稿を作成", new_feed_path%>
        <%= link_to "フィード一覧", feeds_path%>
      </div>
      <div class="">
        <%= link_to "プロフィール", user_path(current_user.id) %>
        <%= link_to "ログアウト", session_path(current_user.id), method: :delete %>
      </div>
    <% else %>
      <div class="">
        <%= link_to "新規登録", new_user_path %>
        <%= link_to "ログイン", new_session_path %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
