<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Octolink</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'sessions' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="form-signin text-center">

    <%= render 'shared/user_logo' %>

    <% flash.each do |key, value| %>
      <div class="alert alert-info">
      <%= content_tag(:div, value, class: "#{key}") %>
      </div>
    <% end %>

    <%= yield %>
    </div>
  </body>
</html>
